<div  [ngSwitch]="value">

  <!-- switch cases value switches-->
    <ng-container *ngSwitchCase="0">Line #1</ng-container>
    <ng-container *ngSwitchCase="1">Line #2</ng-container>
    <aside>
         "ng-container" is a logical container that can be used to group nodes,
         but is not rendered in the DOM tree as a node.
         It is rendered as an HTML comment.
    </aside>
  </div>

  <!-- 
    two structural directives cannot be on same line.
    <div *ngIf="todos" *ngFor="let todo of todos">
      {{ todo.content }} -->
      <!-- <div *ngIf="todos">
          <div *ngFor="let todo of todos">
              {{ todo.content }}
          </div>
      </div> -->

      <ng-container *ngIf="todos">
          <div *ngFor="let todo of todos">
              {{ todo.content }}
          </div>
      </ng-container>